@import "tailwindcss";
@source "../node_modules";
@theme {
  --color-border: var(--color-slate-200);
}

@layer base {
  body {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}
